<!doctype html>
<html>
<head>
	<title>{% block title %}{{ site.title }}{% endblock %}</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="/t/src/style.css" />
	<script type="text/javascript">
	var had_event = false;
	var if_addon = false;
	function addon_handler(){
		if(if_addon){
			document.getElementById("addon").style.display ="none";
			if_addon = false;
		}else{
			had_event = true;
			document.getElementById("addon").style.display = "block";
			if_addon = true;
		}
	}
	window.onclick = function(){
		if(had_event){
			had_event = false;
		}else{
			if_addon = true;
			addon_handler();
		}
	}
	</script>
</head>
<body>
<section id="container">
	<section id="top">
		<span id="blogtitle">{{ site.title }}</span>
		{% if site.description %}<span id="blogdescription">{{ site.description }}</span>{% endif %}
	</section>
	<section id="nav">
		<section id="avatar">
			<section id="avatarleft">
				<span id="home_bg_1">
					<a id="home_bg_2" class="nostyle" href="/" title="Back to Home">&nbsp;</a>
				</span>
			</section>
			<section id="avatarcenter">
				{% if paginator.has_previous %}
				<span id="prev_bg_1">
					<a id="prev_bg_2" class="nostyle" href="{{ paginator.previous_page_url }}" title="Prev.">&nbsp;</a>
				</span>
				{% endif %}
				<span id="archive_bg_1">
					<a id-"archive_bg_2" class="nostyle" href="/archive" title="Archive.">&nbsp;</a>
				</span>
				<span id="tags_bg_1">
					<a id-"tags_bg_2" class="nostyle" href="/archive?use=tags" title="Tags.">&nbsp;</a>
				</span>
				{% if paginator.has_next %}
				<span id="next_bg_1">
					<a id="next_bg_2" class="nostyle" href="{{ paginator.next_page_url }}" title="Next.">&nbsp;</a>
				</span>
				{% endif %}
			</section>
			<section id="avatarright">
				<span id="addon_bg_1" onclick="addon_handler();">
					<a id="addon_bg_2" class="nostyle" href="#" title="Add-on.">&nbsp;</a>
				</span>
				<div id="addon">
					<a href="/archive" class="nostyle">归档</a>
					<hr class="line" />
					<a href="/archive?use=tags" class="nostyle">标签云</a>
					<hr class="line" />
					<a href="/post/about" class="nostyle">关于</a>
				</div>
			</section>
		</section>
	</section>
	{% block content %}{% endblock %}
</section>
<section id="totop">
	<a href="#top" title="Back to Top" class="nostyle">^</a>
</section>
</body>
</html>
