body {
	color:black;
	background-color:#eaeaea;
	line-height:1;
	font-size:18px;
	margin:0;
	padding:0;
	height:100%;
	width:100%;
}
::selection {
	color:white;
	background-color:black;
}
::-webkit-scrollbar {
	background-color:white;
	width:10px;
	height:10px;
	border-radius:40%;
}
::-webkit-scrollbar-thumb {
	background-color:black;
}
a {
	color:black;
	text-decoration:none;
	display:inline-block;
	border-bottom:1px dotted black;
}
a.nostyle {border-bottom:none;}
a.nostyle:hover {border-bottom:none;}
a:hover {
	border-bottom:1px solid black;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:bold;
	margin:0;
	line-height:1.2em;
}
h1 {font-size:2em;padding:0.6em 0;}
h2 {font-size:1.6em;padding:0.5em 0;}
h3 {font-size:1.4em;padding:0.4em 0;}
h4 {font-size:1.3em;padding:0.3em 0;}
h5 {font-size:1.2em;padding:0.2em 0;}
h6 {font-size:1.18em;padding:0.1em 0;}
hr.line {
	height:1px;
	background-color:black;
	width:100%;
	margin:0;
	padding:0;
	border:none;
	line-height:1.6em;
}
.info, .info *{
	font-size:12px;
	color:gray;
	font-weight:bold;
}
#container {
	max-width:760px;
	width:90%;
	box-shadow:0 0 30px gray;
	margin:0 auto;
	background-color:white;
}
#top, #nav, #foot {
	padding:0 40px;
}
#top {
	height:30px;
	background-color:black;
	color:white;
	line-height:30px;
}
#blogdescription {
	font-size:12px;
}
#nav {
	height:88px;
	border-bottom:3px solid black;
}
#avatar img {
	display:block;
	max-width:50px;
	max-height:50px;
}
#avatar a {
	display:inline-block;
	width:60px;
	margin-right:30px;
	line-height:60px;
}
#avatarleft a:last-child, #avatarcenter a:last-child, #avatarright a:last-child {
	margin-right:0;
}
#avatarleft, #avatarcenter, #avatarright {
	display:inline-block;
	margin-top:14px;
	margin-bottom:14px;
	height:60px;
	width:60px;
	line-height:60px;
}
#avatarleft {
	float:left;
	text-align:left;
}
#avatarright {
	float:right;
	text-align:right;
}
#home_bg_1 {
	display:block;
	background-image:url(/t/src/home.png);
}
#home_bg_1:hover #home_bg_2 {
	background-image:url(/t/src/home_2.png);
}
#prev_bg_1 {
	display:block;
	background-image:url(/t/src/prev.png);
}
#prev_bg_1:hover #prev_bg_2 {
	background-image:url(/t/src/prev_2.png);
}
#archive_bg_1 {
	display:block;
	background-image:url(/t/src/archive.png);
}
#archive_bg_1:hover #archive_bg_2 {
	background-image:url(/t/src/archive_2.png);
}
#tags_bg_1 {
	display:block;
	background-image:url(/t/src/tags.png);
}
#tags_bg_1:hover #tags_bg_2 {
	background-image:url(/t/src/tags_2.png);
}
#next_bg_1 {
	display:block;
	background-image:url(/t/src/next.png);
}
#next_bg_1:hover #next_bg_2 {
	background-image:url(/t/src/next_2.png);
}
#addon_bg_1 {
	display:block;
	background-image:url(/t/src/addon.png);
}
#addon_bg_1:hover #addon_bg_2 {
	background-image:url(/t/src/addon_2.png);
}
#addon {
	display:none;
	width:300px;
	background:white;
	border-left:2px solid black;
	border-right:2px solid black;
	border-bottom:2px solid black;
	position:relative;
	left:-242px;
	top:17px;
	z-index:1;
}
#addon a {
	display:block;
	height:80px;
	width:240px;
	padding-left:30px;
	padding-right:30px;
	line-height:80px;
	font-size:26px;
	text-align:left;
}
#addon a:hover {
	margin:0;
	padding-left:30px;
	padding-right:30px;
	background-color:black;
	color:white;
}
#addon hr.line {
	width:246px;
	margin:1px 20px;
}
#avatarcenter {
	width:500px;
	margin-left:30px;
	margin-right:30px;
	text-align:center;
	float:left;
}
#content {
	line-height:1.6em;
	padding-top:15px;
	padding-bottom:15px;
}
.post, .post_list {
	padding-left:40px;
	padding-right:40px;
	display:block;
}
.post_list:hover, .post_list:hover * {
	color:white;
	background-color:black;
}
#foot {
	padding-bottom:15px;
}
#totop {
	position:fixed;
	right:10%;
	bottom:10%;
	width:60px;
	height:60px;
}
#totop a {
	display:block;
	width:100%;
	height:100%;
	font-size:30px;
	line-height:60px;
	text-align:center;
}
#totop a:hover {
	color:white;
	background-color:black;
}
